b﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image{
    width:100%;
}
nav ul li{
    float:left;
    margin-right:25px;

}
header img{
    float:left;
    clear:both;
}
#buttons{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}
#buttons ul{
    list-style:none;
    position:relative;
    left:50%;
}

#buttons li{
    float:left;
    position:relative;
    margin: 0 25px;
}

div.img {
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #0000ff;
    float: left;
    text-align: center;
    display:inline-block;
    margin-left:20%;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #000;
    height:250px;
    width:250px;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    margin: 5px;
}
div.careers p{
    text-align:justify;
    font-size:1.5em;
}
