@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="div1">
        <img class="image" src="http://www.tinyurl.com/lf-suhbg">
    </div>
    <div class="col-md-4">
        <h2>TITLE</h2>
        <p>lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum.</p>
    </div>
    <div class="col-md-4">
        <h2>TITLE</h2>
        <p>lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum.</p>
    </div>
    <div class="col-md-4">
        <h2>TITLE</h2>
        <p>lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum.</p>
    </div>
</div>