﻿
@{
    ViewBag.Title = "Work";
}
<div class="clearfix">
    <div class="img">
        <a href="http://www.tinyurl.com/qeemlqf" target="_blank">
            <img src="http://www.tinyurl.com/qeemlqf">
            <div class="desc">Work Sample 1</div>
        </a>
    </div>
    <div class="img">
        <a href="http://www.tinyurl.com/qeemlqf" target="_blank">
            <img src="http://www.tinyurl.com/qeemlqf">
            <div class="desc">Work Sample 2</div>
        </a>
    </div>
</div>

<div class="clearfix">
    <div class="img">
        <a href="http://www.tinyurl.com/qeemlqf" target="_blank">
            <img src="http://www.tinyurl.com/qeemlqf">
            <div class="desc">Work Sample 3</div>
        </a>
    </div>
    <div class="img">
        <a href="http://www.tinyurl.com/qeemlqf" target="_blank">
            <img src="http://www.tinyurl.com/qeemlqf">
            <div class="desc">Work Sample 4</div>
        </a>
    </div>
</div>
